@import '~bootstrap/scss/bootstrap';

.container {
  height: 75vh;
}

.board {
  background-size: cover;
  margin: auto;
  max-height: calc(75vh - 75px);
  max-width: calc(75vh - 75px);
}

.box {
  // border: 3px solid black;
  // height: 300px;
  // width: 300px;

  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  color: white;
  display: flex;
  font-size: 15vh;
  justify-content: center;
  min-height: calc(100% / 3);
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  user-select: none;

  &:nth-child(3n) {
    border-right: 0;
  }

  &:nth-last-child(-n+3) {
    border-bottom: 0;
  }

  &:hover {
    background-color: #32cd32;
  }
}

// centers h1 header
h1 {
  text-align: center;
}

// centers all the sections of our index.html file
section {
  text-align: center;
}
